input {
    touchpad {
        tap
        natural-scroll
    }

    focus-follows-mouse max-scroll-amount="10%"
}

output "eDP-1" {
    mode "2256x1504"

    scale 1.667

    transform "normal"

    position x=0 y=0
}

output "DP-3" {
    mode "2560x2550@200"
    position x=1920 y=0
    variable-refresh-rate
    focus-at-startup
}

output "HDMI-A-1" {
    mode "1920x1080@60"
    position x=0 y=0
}

layout {
    gaps 16

    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        width 4

        active-color "#7fc8ff"

        inactive-color "#505050"
    }

    border {
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
    }

    struts {
        top -8
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "dms" "run"

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"
}

window-rule  {
    match app-id=r#"^gamescope$"#

    open-fullscreen true
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

binds {
    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    Mod+Return { spawn "foot"; }
    Mod+D { spawn-sh "dms ipc spotlight toggle"; }
    Super+XF86Sleep { spawn "swaylock"; }
    XF86Sleep { spawn-sh "dms ipc powermenu open"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "dms ipc audio increment 5"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "dms ipc audio decrement 5"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "dms ipc audio mute"; }
    Mod+XF86AudioMute     allow-when-locked=true { spawn-sh "dms ipc audio micmute"; }

    XF86MonBrightnessUp            allow-when-locked=true { spawn-sh "dms ipc brightness increment 5 backlight:intel_backlight"; }
    XF86MonBrightnessDown          allow-when-locked=true { spawn-sh "dms ipc brightness decrement 5 backlight:intel_backlight"; }
    Mod+XF86MonBrightnessUp        allow-when-locked=true { spawn-sh "dms ipc brightness increment 5 leds:chromeos::kbd_backlight"; }
    Mod+XF86MonBrightnessDown      allow-when-locked=true { spawn-sh "dms ipc brightness decrement 5 leds:chromeos::kbd_backlight"; }

    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H     { move-column-left; }
    Mod+Shift+J     { move-window-down-or-to-workspace-down; }
    Mod+Shift+K     { move-window-up-or-to-workspace-up; }
    Mod+Shift+L     { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Ctrl+H     { focus-monitor-left; }
    Mod+Ctrl+J     { focus-monitor-down; }
    Mod+Ctrl+K     { focus-monitor-up; }
    Mod+Ctrl+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-window-or-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-window-or-workspace-up; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { move-window-down-or-to-workspace-down; }
    Mod+Shift+WheelScrollUp cooldown-ms=150 { move-window-up-or-to-workspace-up; }

    Mod+TouchpadScrollRight      { focus-column-left; }
    Mod+TouchpadScrollLeft       { focus-column-right; }
    Mod+Shift+TouchpadScrollRight { move-column-left; }
    Mod+Shift+TouchpadScrollLeft  { move-column-right; }

    Mod+TouchpadScrollDown  cooldown-ms=150    { focus-window-or-workspace-up; }
    Mod+TouchpadScrollUp    cooldown-ms=150    { focus-window-or-workspace-down; }
    Mod+Shift+TouchpadScrollDown cooldown-ms=150 { move-window-up-or-to-workspace-up; }
    Mod+Shift+TouchpadScrollUp   cooldown-ms=150 { move-window-down-or-to-workspace-down; }

    Mod+Tab { focus-workspace-previous; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { toggle-windowed-fullscreen; }

    Mod+C { center-column; }

    Mod+Semicolon { set-column-width "-10%"; }
    Mod+Apostrophe { set-column-width "+10%"; }

    Mod+Shift+Semicolon { set-window-height "-10%"; }
    Mod+Shift+Apostrophe { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }

    Mod+Shift+P { power-off-monitors; }
}
