* {
	all: unset;
}

.bar {
	margin: 0.2em 0 0 0;
}


box.bar > box {
	background-color: #21222c;
	border-radius: 30px;
	padding: 1px 6px;
	margin: 0 0.3em;
	
}

box.bar progressbar {
	padding: 2px;
}

window { 
	color: #FFFFFF;
}

tooltip {
	background-color: #21222c;
	border-radius: 7px;
	box-shadow: inset 0 0 0 1px #FFFFFF;
}

.launcher image {
  /* Source: https://github.com/NixOS/nixos-artwork/blob/master/logo/nix-snowflake-white.svg */
	background-image: url('./nixos.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0.0em 0.9em;
	padding: 0.0em 0.3em;
}

/* clock widget */
.clock_container {
	margin: -1px 0 -2px 0;
	font-size: 60%;
	font-weight: bold;
}


/* battery widget */
progressbar.low_battery progress {
	background-color: shade(#ff5555, 1.15);
}

progressbar.Charging progress {
		background-color: shade(#50fa7b, 1.15);
}

progressbar {
	padding: 0 0.5em 0 0.2em;
	margin-right: 0.5em;
	
}

progress {
	background-color: white;
	border-radius: 5px;
}

trough {
	background-color: #444756;
	border-radius: 5px;
	min-width: 40px;
}

/* volume widget */
.overloaded_volume progress {
	background-color: #ff5555;
}
.speaker {
	-gtk-icon-transform: scale(0.7);
	margin: -3px 0;
}

.overloaded_volume .speaker {
	color: #FF5555;
}

.volume {
	margin: 0;
	padding: 0;
}

.volume trough {
	min-width: 80px;
}

/* workspace widget */
.workspaces {
	margin: 0px 0;
	padding: 3px 0;
}

.workspace {
	padding: 0em 0em 0em 0.6em;
	margin: 0 0.2em;
	background-color: gray;
	border-radius: 8px;
}
.focused.workspace {
	background-color: white;
	padding-left: 1.5em;
}

expander {
	margin: -8px 0px;
}
