* {
	all: unset;
}

.bar {
	background-color: #21222c;
	padding: 0.3em 0px;
}

window {
	color: #FFFFFF;
}

button {
	background-color: shade(#343746, 1);
}
button:hover {
	background-color: shade(#343746, 1.5);
}

button.focused {
	background-color: shade(#343746, 1.75);
}
button.focused label {
	font-weight: bold;
}
button.focused:hover {
	background-color: shade(#343746, 2);
}

.clock {
	margin: 0em 0.8em 0em 0.8em;
}

.battery_icon {
	font-size: 1.4em;
	margin: 0em 0em 0em 0.3em;
}

.low_battery {
	color: shade(#ff5555, 1.15);
}

.Charging label {
	color: shade(#50fa7b, 1.15);
}


.separator {
	font-size: 150%;
	margin: 0em 0em 0em 0.3em;
}

.addws {
	border-radius: 7px;
}
.addws label {
	padding: 0em 0.5em;
}

button {
	border-radius: 7px;
}
button label {
	padding: 0em 0.5em;
}

.launcher label {
	font-size: 1.3em;
}

.launcher {
	margin: 0em 0.6em 0em 0em;
}

.workspace {
	margin: 0em 0.2em 0em 0em;
}

.newws {
	background-color: #343746;
	border-radius: 7px;
	margin: 0em 0.2em;
}
