* {
	all: unset;
}

/* .bar { */
	/* background-color: #21222c; */
	/* padding: 0.3em 0px; */
/* } */

.bar {
	margin: 0.3em 0 0 0;
}


box.bar > box {
	background-color: #21222c;
	border-radius: 30px;
	padding: 0.4em 0.9em;
	margin: 0 0.3em;
	
}

window {
	color: #FFFFFF;
}

tooltip {
	background-color: #21222c;
	border-radius: 7px;
	box-shadow: inset 0 0 0 1px #FFFFFF;
}

.launcher image {
  /* Source: https://github.com/NixOS/nixos-artwork/blob/master/logo/nix-snowflake-white.svg */
	background-image: url('./nixos.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0.0em 0.9em;
	padding: 0.0em 0.3em;
}

button {
	background-color: shade(#343746, 1);
	min-width: 1.6em;
	min-height: 1.6em;
}
button:hover {
	background-color: shade(#343746, 1.5);
}

button.focused {
	background-color: shade(#343746, 1.75);
}
button.focused label {
	font-weight: bold;
}
button.focused:hover {
	background-color: shade(#343746, 2);
}

.clock_container {
	margin: 0em 0.3em 0em 0.8em;
}

.battery_icon {
	font-size: 1.4em;
	margin: 0em 0.3em 0em 0.3em;
	-gtk-icon-transform: rotate(90deg) scale(1.5);

}

.battery_label {
	margin: 0 0 0 0.5em;
}

.low_battery {
	label,image {
		color: shade(#ff5555, 1.15);
	}
}

.Charging {
	label,image {
		color: shade(#50fa7b, 1.15);
	}
}

.separator {
	font-size: 150%;
	margin: 0em 0em 0em 0.3em;
}

.addws {
	border-radius: 7px;
}
.addws label {
	padding: 0em 0.5em;
}

button {
	border-radius: 7px;
}
button label {
	padding: 0em 0.5em;
}

.launcher label {
	font-size: 1.3em;
}

.launcher {
	margin: 0em 0.6em 0em 0em;
}

.workspace {
	margin: 0em 0.2em 0em 0em;
}

.newws {
	background-color: #343746;
	border-radius: 7px;
	margin: 0em 0.2em;
}

progress {
	background-color: #ffb86c;
	border-radius: 5px;
}

trough {
	background-color: #343746;
	border-radius: 5px;
}

.overloaded_volume progress {
	background-color: #ff5555;
}

.volume.overloaded_volume {
	color: #ff5555;
}

.volume {
	/* font-size: 1.4em; */
	margin: 0 0.3em 0 0.3em;
}

.volume.hover {
	-gtk-icon-transform: scale(1.2);
}

.volume.speaker {
	-gtk-icon-transform: scale(1.2);
}
.volume.speaker.hover {
	-gtk-icon-transform: scale(1.4);
}

.volume.mute {
	color: #ff5555;
}

.playpause.hover {
	-gtk-icon-transform: scale(1.2);
}

.music_icon {
	margin: 0 0.3em;
	-gtk-icon-transform: scale(1.1);
}
